<%= header_partial %>
<h1>Von <%= name %> geloggte Caches</h1>
<table class="table table-striped">
<tr>
<th>#</th>
<th>Logtyp</th>
<th>Name</th>
<th>Typ</th>
<th>GC-ID</th>
<th>Favorit</th>
<th>Datum</th>
</tr>
<% Cache.all.reverse.each do |cache| %>
<tr>
  <td><%= cache.id %></td>
    <td>
    <%= logicon(cache.logtype) %>
  </td>
  <td>
    <a href = "details/<%= cache.gcid %>.html">
      <% if (cache.status.eql? "Disabled") || (cache.status.eql? "Archived") %>
        <del>
      <% end %>
      <%= cache.name %>
      <% if (cache.status.eql? "Disabled") || (cache.status.eql? "Archived") %>
        </del>
      <% end %>
    </a>
  </td>
    <td>
      <%= typeicon(cache.type) %>
    </td>
  <td>
    <a href="http://coord.info/<%= cache.gcid %>">
      <%= cache.gcid %>
    </a>
  <td>
    <% if cache.favorite == 1 %>
      <img src="http://www.geocaching.com/images/icons/icon_fav.png">
    <% end %>
  </td>
  <td>
    <%= Time.at(cache.logdate).strftime('%d.%m.%Y') %>
  </td>
</tr>
<% end %>
<%= footer_partial %>
