<%= header_partial%>
<h2>Statistik vom <%= Time.now.strftime('%d.%m.%Y') %></h2>
<%= general_stats %>
<% #Kumulierte Funde nach Monat %>
<%= founds_direction %>
<% #Versteckte Caches nach Bundesl채ndern %>
<%= milestones %>
<%= history %>
<%= foundmatrix_month %>
<% #Funde nach Monaten, Balkendiagramm %>
<%= sizes_found %>
<%= types_found %>
<%= dtmatrix %>
<% #Cachefunde nach L채ndern %>
<% #Cachefunde nach Bundesl채ndern %>
<%= foundmatrix_day %>
<%= distance %>
<%= owner_found %>
<%= foundsviahiddenmatrix_day %>
<%= foundsviahiddenmatrix_month %>
<% #Fav list %>
<% #GCVote Matrix %>
<% #Statistik versteckter Caches %>
<% #Versteckte Beh채lter %>
<% #Versteckte Cachetypen %>


<%= footer_partial %>
