<%= header_partial%>
<h2>Statistik vom <%= Time.now.strftime('%d.%m.%Y') %></h2>
<%= general_stats %>
<% #Kumulierte Funde nach Monat %>
<%= founds_direction %>
<% #Versteckte Caches nach Bundesländern %>
<%= milestones %>
<%= history %>
<%= monthly_diagram %>
<%= foundmatrix_month %>
<%= sizes_found %>
<%= types_found %>
<%= dtmatrix %>
<%= founds_country %>
<%= founds_region %>
<%= foundmatrix_day %>
<%= distance %>
<%= owner_found %>
<%= foundsviahiddenmatrix_day %>
<%= foundsviahiddenmatrix_month %>
<% #Fav list %>
<% #GCVote Matrix %>
<% #Statistik versteckter Caches %>
<% #Versteckte Behälter %>
<% #Versteckte Cachetypen %>


<%= footer_partial %>
