<%= header_partial%>
<h2>Statistik vom <%= Time.now.strftime('%d.%m.%Y') %></h2>
<%= general_stats %>
<%= milestones %>
<%= history %>
<%= sizes_found %>
<%= types_found %>
<%= dtmatrix %>
<%= distance %>
<%= owner_found %>
<%= foundsviahiddenmatrix_day %>
<%= foundsviahiddenmatrix_month %>
<%= foundmatrix_day %>
<%= foundmatrix_month %>

<%= footer_partial %>
