<%= header_partial%>
<h2>Statistik vom <%= Time.now.strftime('%d.%m.%Y') %></h2>
<%= general_stats %>
<%= milestones %>
<%= sizes_found %>
<%= types_found %>
<%= dtmatrix %>
<%= owner_found %>
<%= footer_partial %>
