<%
def containerstats(size)
	allcachecount = Cache.all.length
	thiscount = Cache.where(size: size).length
	thispercent = ((thiscount.to_f/allcachecount.to_f)*100).round(1)
	return [thiscount, thispercent]
end
%>
<h4>Gefundene Behälter</h4>
<table class="table table-condensed">
<tr>
	<td><img src="http://www.geocaching.com/images/icons/container/micro.gif" title="Micro"> <%= containerstats("micro")[0] %> (<%= containerstats("micro")[1] %>%)</td>
	<td><img src="http://www.geocaching.com/images/icons/container/small.gif" title="Small"> <%= containerstats("small")[0] %> (<%= containerstats("small")[1] %>%)</td>
	<td><img src="http://www.geocaching.com/images/icons/container/regular.gif" title="Other"> <%= containerstats("regular")[0] %> (<%= containerstats("regular")[1] %>%)</td>
	<td><img src="http://www.geocaching.com/images/icons/container/large.gif" title="Large"> <%= containerstats("large")[0] %> (<%= containerstats("large")[1] %>%)</td>
</tr>
<tr>
	<td><img src="http://www.geocaching.com/images/icons/container/not_chosen.gif" title="Not Chosen"> <%= containerstats("not chosen")[0] %> (<%= containerstats("not chosen")[1] %>%)</td>
	<td><img src="http://www.geocaching.com/images/icons/container/other.gif" title="Other"> <%= containerstats("other")[0] %> (<%= containerstats("other")[1] %>%)</td>
	<td></td>
	<td></td>
</tr>
</table>