<%
allcachecount = Cache.all.length
microcount = Cache.where(size: "micro").length
micropercent = ((microcount.to_f/allcachecount.to_f)*100).round(1)
smallcount = Cache.where(size: "small").length
smallpercent = ((smallcount.to_f/allcachecount.to_f)*100).round(1)
regularcount = Cache.where(size: "regular").length
regularpercent = ((regularcount.to_f/allcachecount.to_f)*100).round(1)
othercount = Cache.where(size: "other").length
otherpercent = ((othercount.to_f/allcachecount.to_f)*100).round(1)
notchosencount = Cache.where(size: "not chosen").length
notchosenpercent = ((notchosencount.to_f/allcachecount.to_f)*100).round(1)
largecount = Cache.where(size: "large").length
largepercent = ((largecount.to_f/allcachecount.to_f)*100).round(1)
%>
<h4>Gefundene Behälter</h4>
<table class="table table-condensed">
<tr>
	<td><img src="http://www.geocaching.com/images/icons/container/micro.gif" title="Micro"> <%= microcount %> (<%= micropercent %>%)</td>
	<td><img src="http://www.geocaching.com/images/icons/container/small.gif" title="Small"> <%= smallcount %> (<%= smallpercent %>%)</td>
	<td><img src="http://www.geocaching.com/images/icons/container/regular.gif" title="Other"> <%= regularcount %> (<%= regularpercent %>%)</td>
	<td><img src="http://www.geocaching.com/images/icons/container/large.gif" title="Large"> <%= largecount %> (<%= largepercent %>%)</td>
</tr>
<tr>
	<td><img src="http://www.geocaching.com/images/icons/container/not_chosen.gif" title="Not Chosen"> <%= notchosencount %> (<%= notchosenpercent %>%)</td>
	<td><img src="http://www.geocaching.com/images/icons/container/other.gif" title="Other"> <%= othercount %> (<%= otherpercent %>%)</td>
	<td></td>
	<td></td>
</tr>
</table>