<%
# First dimension: Months, second dimension: days
matrix = Array.new(12) {Array.new(31)}



# Init the matrix
for i in 0..matrix.length-1
  for j in 0..matrix[0].length-1
    matrix[i][j] = 0
  end
end

# Fill the matrix and count the hidden dates
Cache.where('found = ?', 1).each do |cache|
	i = (Time.at(cache.logdate).month)-1
	j = (Time.at(cache.logdate).day)-1
	matrix[i][j] += 1
end

# Calculate the sums
gesamtmonthsum = Array.new
gesamtdaysum = Array.new
for i in 0..matrix.length-1
  gesamtmonthsum.push(matrix[i].reduce(:+))
end
newmatrix = matrix.transpose
for i in 0..newmatrix.length-1
  gesamtdaysum.push(newmatrix[i].reduce(:+))
end

# Calculate some values for the gradients
# Matrix
maxvalue = matrix.flatten.max
minvalue = matrix.flatten.select{|item| item > 0}.min
g = Gradient.new(GRADIENT_FIRST_COLOR, GRADIENT_SECOND_COLOR, (maxvalue-minvalue))
# Rowsums
rmaxvalue = gesamtmonthsum.max
rminvalue = gesamtmonthsum.select{|item| item > 0}.min
rg = Gradient.new(GRADIENT_FIRST_COLOR, GRADIENT_SECOND_COLOR, (rmaxvalue-rminvalue))
# Colsums
cmaxvalue = gesamtdaysum.max
cminvalue = gesamtdaysum.select{|item| item > 0}.min
cg = Gradient.new(GRADIENT_FIRST_COLOR, GRADIENT_SECOND_COLOR, (cmaxvalue-cminvalue))

%>
<h4>Funde nach Datum</h4>
<table class="table table-bordered table-condensed">
<tr><td></td><td colspan="31" align="center"><strong>Tag</strong></td><td></td></tr>

<tr><td><strong>Monat</strong></td>
<% 31.times do |day| %>
<td><strong><%= day+1 %></strong></td>
<% end %>
<td><strong>Gesamt</strong></td>
</tr>

<% 12.times do |i| %>
<tr>
<td><strong><%= MONTHS[i] %></strong></td>
<% 31.times do |day| %>
<td 
<% if matrix[i][day] > 0 %>
bgcolor = "#<%= g.gradient(matrix[i-1][day]-minvalue).to_s(16) %>"
<% end %>
><%= matrix[i][day] %></td>
<% end %>
<td
<% if gesamtmonthsum[i] > 0 %>
bgcolor = "#<%= rg.gradient(gesamtmonthsum[i]-rminvalue).to_s(16) %>"
<% end %>
><%= gesamtmonthsum[i] %></td>
</tr>
<% end %>


<tr>
<td><strong>Gesamt</strong></td>
<% 31.times do |day| %>
<td
<% if gesamtdaysum[day] > 0 %>
bgcolor = "#<%= cg.gradient(gesamtdaysum[day]-cminvalue).to_s(16) %>"
<% end %>
><%= gesamtdaysum[day] %></td>
<% end %>
</tr>

</table>
<center>An <strong><%= matrix.flatten.select{|item| item > 0}.length %></strong> von 366 möglichen Tagen cachen gewesen (<%= percent(matrix.flatten.select{|item| item > 0}.length, 366) %>%).</center>