<% 
cachedays = Cache.select(:logdate).distinct.length
dateoffirstcache = Time.at(Cache.first.logdate).to_date
alldays = (Date.parse(Time.now.strftime('%Y/%m/%d')) - dateoffirstcache).to_i
cachedays_percent = ((cachedays.to_f/alldays.to_f)*100).round(2)
foundcount = Cache.where(:logtype => "Found it").length
dnfcount = Cache.where(:logtype => "Didn't find it").length
foundspercacheday = (foundcount.to_f/cachedays.to_f).round(2)
foundsperday = (foundcount.to_f/alldays.to_f).round(2)
weeks = alldays/7
months = alldays/30
foundsperweek = (foundcount.to_f/weeks.to_f).round(2)
foundspermonth = (foundcount.to_f/months.to_f).round(2)
midnight = DateTime.new(DateTime.now.year, DateTime.now.month, DateTime.now.day).to_i
lastyear = (midnight - 31556926).to_i
cachesinlastyear = Cache.where("logdate >= ? AND logtype = ?", lastyear, "Found it").length
cachedaysinlastyear = Cache.select(:logdate).where("logdate >= ?", lastyear).distinct.length
foundspercachedayinlastyear = (cachesinlastyear.to_f/cachedaysinlastyear.to_f).round(2)
foundsperdayinlastyear = (cachesinlastyear.to_f/365.to_f).round(2)
foundsperweekinlastyear = (cachesinlastyear.to_f/52.to_f).round(2)
foundspermonthinlastyear  = (cachesinlastyear.to_f/12.to_f).round(2)

# Calculate time periods with most founds
days = (dateoffirstcache..Time.now.to_date)
months = (dateoffirstcache..Time.now.to_date).group_by(&:month).map
# Day with most caches
mostfoundperday = 0
maxday = ""
days.each do |day|
  if Cache.where("logdate = ? AND logtype = ?", day.to_time.to_i, "Found it").length > mostfoundperday
    mostfoundperday = Cache.where("logdate = ? AND logtype = ?", day.to_time.to_i, "Found it").length
    maxday = day
  end
end
%>
<li><%= maxday %></li>
<li>Gesamtzahl aller Funde: <strong><%= foundcount %></strong> Finds.</li>
<li>Gesamtzahl aller Nichtfunde: <strong><%= dnfcount %></strong> DNFs.</li>
<li>Gesamtzahl aller Cache-Tage: <strong><%= cachedays %></strong> Tage von <strong><%= alldays %></strong> Gesamttagen (<%= cachedays_percent %>%).</li>
<li>Globaler Durchschnitt: <strong><%= foundspercacheday %></strong> Funde/Cache-Tag, <strong><%= foundsperday %></strong> Funde/Tag, <strong><%= foundsperweek %></strong> Funde/Woche, <strong><%= foundspermonth %></strong> Funde/Monat.</li>
<li> Funde in den letzten 365 Tagen: <strong><%= cachesinlastyear %></strong> Funde.
<li> Cache-Tage in den letzten 365 Tagen: <strong><%= cachedaysinlastyear %></strong> Tage.</li>
<li> Durchschnitt über die letzten 365 Tage: <strong><%= foundspercachedayinlastyear %></strong> Funde/Cache-Tag, <strong><%= foundsperdayinlastyear %></strong> Funde/Tag, <strong><%= foundsperweekinlastyear %></strong> Funde/Woche, <strong><%= foundspermonthinlastyear %></strong> Funde/Monat. </li>
<li> Tag mit den meisten Funden: <%= maxday.strftime('%d.%m.%Y') %> (<strong><%= mostfoundperday %></strong> Funde).</li>