<%
firsthiddenyear = Time.at(Cache.order(:hiddendate).first.hiddendate).year
lasthiddenyear = Time.at(Cache.order(hiddendate: :desc).first.hiddendate).year
hiddenyears = years_between(firsthiddenyear, lasthiddenyear)
%>
<h4>Funde nach Cacheplatzierung (Monat)</h4>
<table class="table table-bordered table-condensed">
<tr><td></td><td colspan="12" align="center"><strong>Monat</strong></td></tr>
<tr><td><strong>Jahr</strong></td><td><strong>Jan</strong></td><td><strong>Feb</strong></td><td><strong>Mar</strong></td><td><strong>Apr</strong></td><td><strong>Mai</strong></td><td><strong>Jun</strong></td><td><strong>Jul</strong></td><td><strong>Aug</strong></td><td><strong>Sept</strong></td><td><strong>Okt</strong></td><td><strong>Nov</strong></td><td><strong>Dez</strong></td></tr>
<% hiddenyears.each do |year| %>
<tr><td><strong><%= year.strftime('%Y') %></strong></td>
<td><%= Cache.where("hiddendate <= ? AND hiddendate >= ?  AND found = ?", Time.new(year.strftime('%Y'), 2, 1).to_i, Time.new(year.strftime('%Y'), 1, 1).to_i, 1).length %></td>
<td><%= Cache.where("hiddendate <= ? AND hiddendate >= ?  AND found = ?", Time.new(year.strftime('%Y'), 3, 1).to_i, Time.new(year.strftime('%Y'), 2, 1).to_i, 1).length %></td>
<td><%= Cache.where("hiddendate <= ? AND hiddendate >= ?  AND found = ?", Time.new(year.strftime('%Y'), 4, 1).to_i, Time.new(year.strftime('%Y'), 3, 1).to_i, 1).length %></td>
<td><%= Cache.where("hiddendate <= ? AND hiddendate >= ?  AND found = ?", Time.new(year.strftime('%Y'), 5, 1).to_i, Time.new(year.strftime('%Y'), 4, 1).to_i, 1).length %></td>
<td><%= Cache.where("hiddendate <= ? AND hiddendate >= ?  AND found = ?", Time.new(year.strftime('%Y'), 6, 1).to_i, Time.new(year.strftime('%Y'), 5, 1).to_i, 1).length %></td>
<td><%= Cache.where("hiddendate <= ? AND hiddendate >= ?  AND found = ?", Time.new(year.strftime('%Y'), 7, 1).to_i, Time.new(year.strftime('%Y'), 6, 1).to_i, 1).length %></td>
<td><%= Cache.where("hiddendate <= ? AND hiddendate >= ?  AND found = ?", Time.new(year.strftime('%Y'), 8, 1).to_i, Time.new(year.strftime('%Y'), 7, 1).to_i, 1).length %></td>
<td><%= Cache.where("hiddendate <= ? AND hiddendate >= ?  AND found = ?", Time.new(year.strftime('%Y'), 9, 1).to_i, Time.new(year.strftime('%Y'), 8, 1).to_i, 1).length %></td>
<td><%= Cache.where("hiddendate <= ? AND hiddendate >= ?  AND found = ?", Time.new(year.strftime('%Y'), 10, 1).to_i, Time.new(year.strftime('%Y'), 9, 1).to_i, 1).length %></td>
<td><%= Cache.where("hiddendate <= ? AND hiddendate >= ?  AND found = ?", Time.new(year.strftime('%Y'), 11, 1).to_i, Time.new(year.strftime('%Y'), 10, 1).to_i, 1).length %></td>
<td><%= Cache.where("hiddendate <= ? AND hiddendate >= ?  AND found = ?", Time.new(year.strftime('%Y'), 12, 1).to_i, Time.new(year.strftime('%Y'), 11, 1).to_i, 1).length %></td>
<td><%= Cache.where("hiddendate <= ? AND hiddendate >= ?  AND found = ?", Time.new((year.strftime('%Y').to_i)+1, 1, 1).to_i, Time.new(year.strftime('%Y'), 12, 1).to_i, 1).length %></td>
</tr>
<% end %>
</table>